@import "variables";

/* commissions */

.remove-hover:hover {
  background-color: $color-comment;
}

.input-daterange input {
  background-color: $color-primary !important;
}

#datatable h3 {
  padding: 10px;
  color: $orange !important;
}

#datatable tr:hover {
  background-color: $color-comment;
}
