@import "variables";

/* invoice details */

.input_text:focus,
.input_textarea:focus,
.select:focus,
submit:focus {
  color: $color-white;
}

.titulo-det {
  background-color: $color-primary;
}

.side2 {
  border: 1px solid $color-secudary;
}

.box-side h3 {
  box-shadow: 0 5px 5px -6px $color-secudary;
  border-bottom: 1px solid $color-primary;
}

textarea[readonly],
textarea[readonly]:focus {
  border: 1px solid $black;
}

.box-content .warn-nfe {
  background: $red;
  border-radius: 8px;
  color: $yellow;
}

.box-content .warn-nfe h4 {
  color: $yellow;
}

.warn h4,
ul li {
  padding: 5px;
  font-weight: bold;
}
