@import "variables";

/* invoice details */

.input_text:focus,
.input_textarea:focus,
.select:focus,
submit:focus {
  color: $color-white;
}

.titulo-det {
  background-color: $color-primary;
}

.side2 {
  border: 1px solid $color-secudary;
}

.box-side h3 {
  box-shadow: 0 5px 5px -6px $color-secudary;
  border-bottom: 1px solid $color-primary;
}

textarea[readonly],
textarea[readonly]:focus {
  border: 1px solid $black;
}

.box-content .warn-nfe {
  background: $red;
  border-radius: 8px;
  color: $yellow;
}

.box-content .warn-nfe h4 {
  color: $yellow;
}

.warn h4,
ul li {
  padding: 5px;
  font-weight: bold;
}

.bling-form h1 {
  color: var(--red-font-color);
}

.bling-form label {
  color: var(--white-font-color);
}

.bling-form select:disabled, .bling-form select:disabled > option, .bling-form input:not([type="checkbox"]):read-only, .bling-form textarea:read-only {
  background-color: var(--secunday-color);
}


:root {
  --primary-color: #282a36;
  --secunday-color: #44475a;
  --background-color: #272935;
  --white-font-color: #f8f8f2;
  --red-font-color: #ff5555;

  --border-primary: 1px solid #
}