@import "variables";

/* preferences */

.breadcrumb-title {
  color: $orange;
}

.box-preferencias,
.box-pesquisa-topico {
  background-color: $color-primary;
}

.box-preferencias h3,
.box-pesquisa-topico h3 {
  color: $color-white !important;
}

.box-preferencias #pesquisa-mini-preferencias,
.box-pesquisa-topico .input-pesquisa {
  border: 1px solid $black;
}

.box-preferencias #mini-pesquisa-preferencias .btn-secundary,
.box-pesquisa-topico .btn-secundary {
  background-color: $green;
  border: 1px solid $black;
}

.box-preferencias #mini-pesquisa-preferencias .btn-secundary:hover,
.box-pesquisa-topico .btn-secundary:hover {
  background-color: $green-hover;
}

.menu-preferencias {
  border: 1px solid $color-secudary;
}

.menu-preferencias .menu-item {
  border-top: 1px solid $color-secudary;
}

.menu-preferencias .menu-item span {
  color: $color-white;
}
.menu-preferencias-secundario .menu-secundario-item span {
  color: $color-white;
}

.menu-preferencias-secundario .menu-preferencias-secundario-titulo h3,
.menu-preferencias-secundario .configuracoes-adicionais-titulo h3 {
  color: $orange;
}

.menu-preferencias-secundario .menu-secundario-item {
  border: none !important;
}

.menu-preferencias .menu-item:hover,
.menu-preferencias-secundario .menu-secundario-item a:hover {
  background-color: $color-secudary;
}

.navigation-path .paths a,
.navigation-path .paths span {
  color: $yellow;
}

.background-container {
  background-color: $color-primary;
}

.page-block {
  background-color: $color-primary;
  border: none;
}

#left-bar li a {
  color: $color-white;
  border-bottom: 1px solid $color-secudary;
}

#left-bar li:hover {
  background-color: $color-secudary;
}

li [class^="icon-"],
li [class*=" icon-"],
.nav li [class^="icon-"],
.nav li [class*=" icon-"] {
  color: $color-white;
}

[class^="icon-"]:hover,
[class*=" icon-"]:hover {
  color: $yellow;
}

#left-bar h3 {
  color: $green;
  border-bottom: none;
}

#updateLogo {
  background-color: $color-comment;
  color: $color-white;
  border: 1px solid $black;
  border-radius: 4px;
  transition: 0.2s;
}

#updateLogo:hover {
  opacity: 0.7;
}

.container-stores thead {
  background-color: $color-comment;
}

.box-section .section-content {
  border: 1px solid $color-secudary;
}

.block-inner .box-section h2.section-title,
.store-group-title {
  color: $color-white;
}

.table-list > tbody > tr {
  border-bottom: 1px solid $color-secudary;
}

.section-content table {
  border: 1px solid $color-secudary;
}

.table-list > tbody > tr:hover {
  background-color: $color-secudary;
}

.store-square {
  border: 1px solid $black;
  background-color: $color-white;
}

.store-square i {
  color: $color-comment;
}

.store-square i:hover {
  color: $orange;
}

.store-square:hover {
  border: 1px solid $orange;
}

.configuracoes-integracoes .row {
  background-color: $color-secudary;
  border-bottom: 1px solid $black;
}

.fa-chevron-left,
.fa-chevron-right {
  color: $orange;
}

.row .parametros-integracao .row {
  background-color: $color-comment;
}

.parametros-integracao {
  border: none;
}

.parameter-integration label {
  color: $color-white;
}

.manual-lojas > div {
  background-color: $color-secudary !important;
  border: 1px solid $black !important;
}
.manual-lojas > div > h3 {
  color: $orange;
}

#ajuda > h3 {
  color: $color-white !important;
}

.breadcrumb a {
  color: $color-white !important;
}

.breadcrumb {
  border-bottom: none;
}

.lds-sync div {
  background: $yellow;
}

#tabelaAliasesPagamentoUtilizados td {
  font-weight: bold;
}

div.tagsinput {
  background-color: $color-secudary;
}

div.tagsinput div input {
  color: $color-white !important;
  opacity: 0.6;
}

.tabela-listagem tr th {
  background-color: $color-primary;
  color: $orange;
}

div.tagsinput span.tag,
.not_valid {
  background-color: $orange;
  border: 1px solid #b5620a;
  background-image: linear-gradient(
    $orange 20%,
    $orange 50%,
    $orange 52%,
    $orange 100%
  );
  background-clip: padding-box;
  box-shadow: 0 0 2px #b5620a inset, 0 1px 0 rgba(0, 0, 0, 0.05);
}

.item-form,
.group-item-form .chosen-choices {
  background-color: $color-secudary;
}

.preferencias .info-lateral h3,
.preferencias .painel-parametros .row h2 {
  color: $orange;
}

.preferencias .row .painel-parametros {
  border: none;
}

.tipo-certificado {
  background-color: $yellow;
  border: none;
  border-radius: 4px;
  color: $color-primary;
  transition: 0.2s;
}

.tipo-certificado:hover {
  background-color: $yellow;
  opacity: 0.8;
}

#status-certificado {
  margin: 15px 0px;
  padding: 30px 15px;
  background-color: $color-comment !important;
}

.mensagem-orientacao {
  background-color: $color-secudary;
}

.mensagem-orientacao h2 {
  color: $color-white !important;
}

.container-status-message {
  border: 1px solid $color-secudary;
  border-radius: 4px;
}

.container-status-message .status-message-title {
  color: $color-white;
}

input:focus,
select:focus,
textarea:focus {
  color: $color-white;
}

.label-item-form-text {
  margin-top: 3px;
  border: 1px solid $black;
  background-color: $color-secudary;
}

#list_bank table tr {
  border-bottom: 1px solid $color-secudary;
}
#list_bank table tr:hover {
  background-color: $color-secudary;
}

div[class^="useful-info"] {
  background-color: $color-comment !important;
}

div[class^="useful-info"] h3 {
  color: $yellow;
}

.context-menu-default {
  background-color: $color-secudary !important;
}

.context-menu-default li {
  font-size: 12px;
  font-weight: bold;
}

.bank:hover {
  box-shadow: 0 0 0px 2px $orange;
}

.section-content .dashed-table {
  border-color: $color-comment;
}

span.gerenciar-espaco {
  color: $color-white;
}

span.titulo-secao {
  color: $orange;
}

span.dados-subtitle {
  color: $color-white;
}

.dados-plano span.dados-content {
  color: $green;
}

.border-right {
  border-right: 1px solid $color-secudary;
}

.border-bottom {
  border-bottom: 1px solid $color-secudary;
}

#data-usage-info,
#file-usage-text,
.dados-content span {
  color: $green !important;
}

.dados-armazenamento .progress-bar-success {
  background-color: $green;
}

.section-content #datatable table,
.section-content .datatable table {
  border: none;
}

.box-funcionalidades {
  border: 1px solid $color-secudary;
}

.btn-normal-user {
  background-color: $red !important;
}
