@import "variables";

/* product details */
.label-item-form,
.titulo_input {
  color: $color-white;
}

.input_text:focus,
.input_textarea:focus,
.select:focus,
submit:focus {
  border: 1px solid $color-comment;
}

.input_text {
  background: $color-secudary;
  border: 1px solid $black;
  color: $color-white;
  font-weight: bold;
}

.linha_form .ui-datepicker-trigger {
  opacity: 0.5;
}

.group-item-form .icon-info-sign {
  color: $yellow;
}

#ui-datepicker-div {
  background: $color-secudary;
  border: 1px solid $black;
}

.ui-datepicker .ui-datepicker-header,
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
  background: $color-secudary;
  color: $color-white;
}

.ui-datepicker th {
  color: $color-white;
}

#tabnav,
.tabnav {
  background: none;
  border-bottom: 1px solid $color-secudary;
}

#tabnav a:link.active,
#tabnav a:visited.active,
#tabnav span.active,
.tabnav a:link.active,
.tabnav a:visited.active,
.tabnav span.active {
  background-color: $color-secudary;
  color: $color-white;
  border-top: 3px solid $orange;
  border-bottom: none;
}

#tabnav a:link,
#tabnav a:visited,
#tabnav span,
.tabnav a:link,
.tabnav a:visited,
.tabnav span {
  background-color: $color-primary;
  color: $color-white;
  font-size: 13px;
  font-weight: bold;
  border: none;
}

#tabnav a:hover:not(.active),
.tabnav a:hover:not(.active) {
  background-color: $color-secudary;
}

h3.subtitulo {
  box-shadow: none;
  color: $green;
  font-size: 14px;
}

.info,
#info {
  color: $color-white;
  font-size: 13px;
  margin-bottom: 10px;
}

.link-action {
  color: #8be9fd !important;
}

.link-action:hover {
  color: $color-white !important;
  text-decoration: none !important;
}

.ui-dialog-new .ui-dialog-buttonpane .ui-button {
  border-radius: 4px;
}

.ui-dialog .ui-dialog-titlebar,
.ui-dialog-buttonpane {
  background-color: $color-secudary;
  color: $color-white;
}

#tags-area,
.ui-dialog-new .ui-dialog-content {
  background-color: $color-primary;
  border-bottom: none;
  border-top: none;
}

.tag-slot {
  background-color: $color-secudary;
  border: 1px solid $black;
}

.tag-slot h4 {
  color: $color-white;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  font-weight: bold;
}

button,
html input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  font-weight: bold;
}

.exclamation-items h3,
.exclamation-items span,
.exclamation-items p {
  color: #ccc;
}

.input_textarea {
  background-color: $color-secudary;
  border: 1px solid $black;
  color: $color-white;
  padding: 5px;
}

.input-radio input[type="radio"]:checked + label:before {
  background-color: $red;
  box-shadow: 0 0 0px 2px $red;
}

.label-item-form-input {
  color: $color-white;
}

.container_imagens {
  border: 1px solid $black;
}

#divImagemExterna table tbody tr td {
  color: $color-white !important;
}

table.grid-header th,
table.tabela-numerada tr td:first-child::before {
  color: $color-white;
}

.glyphicon {
  color: $color-white;
}

.mce-container,
.mce-container *,
.mce-widget,
.mce-widget *,
.mce-reset {
  background-color: $color-secudary !important;
  color: $color-white;
}

.mce-ico {
  color: $color-white;
}

.div.mce-resizehandle {
  background-color: $color-secudary !important;
}

.mce-label.mce-charactercount {
  border: 0px solid $black;
  text-shadow: none;
  color: $color-white;
}

.mce-panel {
  border: 0 solid $black;
}

.mce-content-body {
  color: $color-white;
}

#gridItensVariacao .table-row,
div.tabela-fornecedores .table-body .table-row {
  color: $color-white;
  font-weight: bold;
}

div.table-cell {
  border: 1px solid $color-secudary;
}

.tab-area-vertical .selecionado {
  background: $color-comment;
}

.tab-area-vertical li {
  border-bottom: 2px solid $color-primary;
  background: $color-secudary;
}

.tab-area-vertical li a {
  color: $color-white;
}

.tab-area-vertical {
  border-right: 1px solid $black;
}

.tab-area-vertical li:last-of-type {
  border-bottom: 1px solid $black;
}
.tab-area-vertical li:hover,
.tab-area-vertical li:hover {
  background: $color-comment !important;
}

button.button-cancel {
  border-radius: 4px !important;
}

button.button-cancel:hover {
  background-color: $color-comment !important;
}

.table-row:hover {
  background-color: $color-secudary !important;
}

.ui-dialog .subtitulo {
  color: $color-white;
}

tr.higlight {
  background-color: $green !important;
}

div.table-cell,
div.table-head {
  color: $color-white;
}

.tableIcon {
  color: $color-comment;
}

#tinymce p {
  color: $color-white;
}

#tinymce span {
  color: $color-white !important;
}

.input_text:focus,
.input_textarea:focus,
.select:focus,
submit:focus {
  color: $color-primary;
}

.icon-file {
  color: $color-white;
}

.icon-file:hover {
  color: $green;
}
