@import "variables";

/* reports */

.search-bar {
  background: $color-primary;
}

.search-bar .titulo {
  color: $yellow !important;
  border-bottom: none;
}

.menu-relatorio h3 {
  background-color: $color-primary;
  padding: 5px 5px 5px 10px;
  color: $color-white;
  border: none;
}

.menu-relatorio .descricao-relatorio {
  color: $color-white;
}

.menu-relatorio li {
  color: $yellow;
  border-bottom: 1px solid $color-secudary;
  transition: 0.2s;
}

.menu-relatorio li:hover {
  background-color: $color-secudary !important;
}

.titulo-sidebar {
  color: $color-white !important;
  border-bottom: 1px solid $color-secudary;
}

.bubble-info {
  box-shadow: 0 1px 3px rgba(255, 255, 255, 0.3);
  background-color: $color-comment;
  border: 1px solid $color-secudary;
  color: $orange;
  position: relative;
}

.bubble-info:before,
.bubble-info:after {
  border-bottom-color: $color-comment;
}

#relatorio-customizado-config #dinamic-filter {
  background-color: $color-secudary !important;
  border: 1px solid $black;
}

.relatorio-dados-container .fixed-table-container {
  border: 1px solid $color-comment;
}

#relatorioDados th div {
  color: $orange;
}

#relatorioDados th div:hover {
  background-color: $color-secudary;
  border-bottom: 1px solid $orange;
}

#listaMenu {
  background-color: $color-secudary !important;
}

.context-menu-default li:hover:not(.context-menu-separator) {
  color: $color-white !important;
  background-color: $color-comment !important;
}

.context-menu-default li {
  color: $color-white !important;
}

.context-menu-default {
  outline: 1px solid $color-comment;
}

.fixed-table-foooter {
  border: none;
}

.fixed-table-foooter tr:first-child {
  border-bottom: 1px solid $color-comment;
}

#panel,
#tempos_filtros,
#tarefas_filtros {
  background-color: $color-comment;
}

#tr_saldos_ini,
.receita-row,
.despesa-row,
#tr_total_receitas,
#tr_total_despesas,
#tr_saldos {
  background-color: #575e6c !important;
}

#tr_saldos_fim {
  background-color: $color-secudary !important;
}

#balancete-table th {
  color: $orange !important;
}

.c3 line,
.c3 path {
  stroke: $color-white;
}
