@import "variables";

/* detail seller */
.chosen-container .chosen-results li.active-result {
  background-color: $color-secudary;
  font-weight: bold;
}

.linha_form .chosen-results li:hover {
  background-color: $color-comment !important;
}

.result-selected {
  background-color: $orange;
  color: $color-primary !important;
  font-weight: bold;
}
