@import 'variables';

/* support */

.box-central-ajuda {
  background-color: $color-secudary;
}

.box-central-ajuda .box-title {
  color: $color-white;
  border-bottom: 1px solid $color-secudary;
}

#datatable-area > div {
  color: $color-white;
}

.box-content #datatable tr:nth-child(even).highlight,
.box-content [id^='addDatatable'] tr:nth-child(even).highlight {
  background: $color-comment;
}

.descricaoTicket {
  border: 1px solid $color-secudary;
}

#listaAnexosTicket > div {
  border-bottom: 1px solid $color-secudary !important;
}

.tituloDadoTicket {
  background: $color-secudary;
  color: $color-white;
}

.linhaFollowup {
  background-color: $color-secudary !important;
  border-bottom: 2px solid $color-primary !important;
}

.followup-content {
  color: $orange;
}

.ui-tabs .ui-widget-header {
  border-bottom: 1px solid $color-secudary;
}

.ui-tabs .ui-state-active a {
  border: 1px solid $color-secudary;
  border-bottom: 0;
}

.dadosUsuarioTickets div {
  color: $orange;
}

.vertical-align-inline > div {
  color: $color-white;
}

.form-rating-avalicao {
  font-size: 8pt;
  padding: 8px;
}

.row-eq-height,
.ticket-type::before {
  content: '';
  background-color: $color-comment !important;
  color: $red !important;
}

.alert-box-warning ul li {
  color: $color-white !important;
}

.item-form:focus,
.tree-select:focus,
.group-item-form .chosen-container-active .chosen-choices {
  color: $color-white;
}

.qq-upload-drop-area-dashed,
.qq-upload-button-dashed {
  background-color: $color-secudary;
  border: 2px dashed $color-primary;
}

.qq-upload-button-dashed > a {
  color: $yellow !important;
}

.botoes-acesso-remoto:hover {
  background-color: $color-primary !important;
}

.btn-notificacao-ouvidoria {
  background-color: $color-secudary;
}

.top-search #mini-pesquisa input.pesquisa {
  background: $color-primary;
}

.search-filter-action,
#btn-mini-search {
  color: $color-primary;
  background: $green !important;
  font-weight: bold;
}
